<div class="container">
  <h2>All Boards</h2>
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="board">
        <div class="board_content">
           <div class="board_title">
             <%= board.title %>
           </div>
           <div class="board_detail">
             <%= board.content %>
           </div>
           </div>
         </div>
      </div>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user %>
    <%= link_to new_board_path do %>
      <div class="board_new">
        <p>+ add new board</p>
      </div>
    <% end %>
  <% end %>
</div>