<div class="container">
  <h1>All Boards</h1>
  <% @boards.each do |board| %>
  <div class="board">
      <div class="board_content">
        <div class="board_title">
          <%= board.title %>
            <div class="board_detail">
              <%= board.content %>
            </div>
        </div>
      </div>
  </div>
  <% end %>
</div>