.page-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.board {
  background: #F4F4F4;
  border-radius: 10px;
  margin: 30px 0;
  padding: 35px 0;
}

.board_title {
  font-size: 18px;
  font-weight: bold;
}

.board_detail {
  font-size: 12px;
  margin-top: 10px;
}

.board_content {
  padding: 0 10px;
  font-size: 12px;
}

.board_user {
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}

.board_new {
  height: 161px;
  background: #fff;
  border-radius: 10px;
  margin: 30px 0;
  border: dashed 2px #F4F4F4;

  p {
    text-align: center;
    position: relative;
    top: 40%;
  }
}
.deadline {
  margin-top: 15px;
}

.dropdown-mini {
  float: right;
  display: block;
  margin-top: 5px;
}

.dropdown-content-mini {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 10px;
}

.dropdown-content-mini a:hover {
  background-color: white;
}

.dropdown-mini:hover .dropdown-content-mini {
  display: block;
}

.comment-title {
  font-size: 22px;
}

.comment {
  font-size: 12px;
  margin: 15px 0;
}

.task_image {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden;
}