.board {
  height: 161px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 40px;
}

.board_content {
  padding-top: 50px;
  padding-left: 10px;
}

.board_new {
  height: 161px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  border: dashed 2px #F4F4F4;

  p {
    text-align: center;
    position: relative;
    top: 40%;
  }
}

.dropdown-mini {
  float: right;
  display: block;
  margin-top: 10px;
}

.dropdown-content-mini {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-mini a:hover {
  background-color: white;
}

.dropdown-mini:hover .dropdown-content-mini {
  display: block;
}

